.root {
    -fx-background-image: url("background.jpg");
	-fx-font-family: "Tahoma";
	-fx-border: 5px;
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-border-radius: 2px;
	-fx-background-radius: 20px;
}

.button {
    -fx-text-fill: white;
	-fx-font-size: 18px;
    -fx-background-color: linear-gradient(#009933, #006600);
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1);
}

.button:hover {
	-fx-text-fill: white;
    -fx-background-color: linear-gradient(#52f14b, #2A5058);
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1);
}

.button:pressed {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.error-button {
    -fx-background-color: linear-gradient(#FF0000, #FF3300);
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1);
}

.error-button:hover {
	-fx-text-fill: white;
    -fx-background-color: linear-gradient(#FF3300, #FF9999);
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1);
}

.error-button:pressed {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#errorMessage {
	-fx-text-fill: red;
	-fx-font-weight: bold;
	-fx-font-size: 22px;
}

.app-labels {
    -fx-text-fill: #ee8822;
    -fx-font-size: 20px;
}

.check-box {
    -fx-text-fill: #ee8822;
    -fx-font-size: 18px;
}

.app-values {
    -fx-text-fill: #00BBFF;
    -fx-font-size: 20;
}

.negative-value {
    -fx-text-fill: #FF0000;
}

.positive-value {
    -fx-text-fill: #00BBFF;
}

/* TableView style */
.table-view {
    -fx-background-color: rgba(153, 102, 51, 0.7);
}

.table-view:focused{
    -fx-background-color: rgba(153, 102, 51, 0.7);
}

.table-view {
  -fx-table-cell-border-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .table-cell{
    -fx-text-fill: #00ff00;
}

.table-row-cell{
    -fx-background-color: rgb(153, 102, 51);
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:odd{
    -fx-background-color: rgb(165, 114, 63);
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .table-cell {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #009933;
    -fx-text-color: #FFFFFF;
    -fx-border-width: 1 2 3 4;
    -fx-border-color: transparent #ee8822 transparent transparent;
}

.table-view .column-header-background {
    -fx-background-color: #009933;
}

.table-view .table-cell {
  -fx-border-width: 1 2 3 4;
  -fx-border-color: transparent #009933 transparent transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-weight: none;
}

/* Workaround to disable the horizontal ScrollBar */
.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow,
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

.table-row-cell.income-row,
.table-row-cell.income-row:odd{
    -fx-background-color: rgb(102, 51, 0)
}

.table-row-cell:selected,
.table-row-cell.income:selected {
    -fx-background-color: rgb(0, 0, 0)
}